@font-face {
  font-family: 'MullerBold';
  src: local('MullerBold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff')
}

@font-face {
  font-family: 'MullerLight';
  src: local('MullerLight'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff')
}

@font-face {
  font-family: 'MullerMedium';
  src: local('MullerMedium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff')
}

@font-face {
  font-family: 'MullerRegular';
  src:
   local('MullerRegular'),
    url('../fonts/MullerRegular.woff2'),
    url('../fonts/MullerRegular.woff')
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 1;
}


ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'MullerRegular';
}

.body {
  font-family: 'MullerRegular';
  background-color: #f1f1f1;
  visibility: -5;
}


.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.title {
  font-size: 40px;
  color: #333;
}

.text {
  color: #666;
}

.gold {
  color: #cc9933
}


/* Шапка */
.header-top{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px auto 25px;
}

.header-tel{
  font-family: 'MullerRegular';
  margin: auto auto auto 27px;
  line-height: 1px;
  color: #666;
  font-size: 22px;
  transform: translateY(-2px);
}

.header-private-office {
  margin: auto 11px;
}

.header-private-office ::before {
  content: "\f0a9";
  font-family: FontAwesome;
}

/* навигация */
.header-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 70px;
  border-radius: 15px;
  margin-bottom: 33px;
}

.header-nav {
  display: inline-flex;
  background-color: white;
  min-height: 70px;
  width: 100%;
  border-radius: 15px;
} 

.header-nav-list {
  font-family: 'MullerRegular';
  max-width: 693px;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.header-nav-item{
  font-size: 16px;
  margin: auto;
}

.nav-link {
  color: #333;
}

.scan {
  height: 48px;
  width: 355px;
  font-size: 12px;
  border: none;
  border-radius: 15px;
  background: url(../img/search.png) no-repeat center;
  background-color: #f1f1f1;
  background-position: 93%;
  padding-right: 40px;
  padding-left: 20px;
  margin: auto 20px auto auto;
}


/* Быстрая бронь и Спецпредложение */
.hot-deal {
  display: flex;
}

#reserv {
  font-family: 'MullerRegular';
  font-weight: 1;
  margin-left: 42px;
  margin-bottom: 20px;
}

.reserv {
  margin-right: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1;
}

.reserv input {
  padding: 0 0 0 21px;
  height: 70px;
  margin-bottom: 24px;
  border: none;
  border-radius: 12px;
}

.reserv-button {
  height: 70px;
  width: 160px;
  font-size: 16px;
  border: none;
  background-color: #cc9933;
  color: #fff;
  border-radius: 12px;
  margin-right: 25px;
}

.reserv-info {
  display: flex;

}

.reserv-namber {
  display: block;
  margin: auto 0 auto 5px;
}


/* Спецпредложение */
.Special-offer {
  min-width: 595px;
}

#special-offer {
  margin-left: 42px;
  margin-bottom: 20px;
}

.special-offer-img {
  display: inline-block;
  width: 595px;
  min-height: 540px;
  border-radius: 12px;
  background: url(../img/22.jpg) no-repeat center;
  background-size: cover;
}

.special-offer-banner {
  font-family: 'MullerBold';
  line-height: 58px;
  width: min-content;
  margin: 267px auto auto 40px;
  font-size: 66px;
  color: white;
}

.special-offer-price{
  display: inline-block;
  margin: 29px auto 30px 40px;
  font-size: 35px;
  color: #868381;
}

.special-offer-link {
  display: inline-block;
  margin-left: 37px;
}

.special-offer-link::after  {
  display: inline-block;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 30px;
  transform: translateY(4px);
}


/* О нас */
#about-Us {
  margin: 65px auto 6px 42px;
}

.about-Us {
  display: inline-block;
  max-width: 895px;
  margin-left: 44px;
  margin-top: 0;
  font-size: 16px;
  line-height: 32px;
}


/* Услуги */
#services {
  margin: 39px 0 18px 42px;
}

.service-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.service-item {
  width: calc((100% - 26px) / 2);
  max-width: 572px;
  min-height: 325px;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 24px;
}

.service-item:last-child {
  margin-right: 0;
}

.img-exclusive {
  background-image: url(../img/services/10.jpg);
  background-repeat: no-repeat;
}

.img-banquet-hall {
  background-image: url(../img/services/15.jpg);
  background-repeat: no-repeat;
}

.img-sauna {
  background-image: url(../img/services/12.jpg);
  background-repeat: no-repeat;
}

.img-parking {
  background-image: url(../img/services/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg);
  background-repeat: no-repeat;
}

.service-item-exclusive,
.service-item-banquet-hall,
.service-item-sauna,
.service-item-parking {
  display: inline-block;
  font-family: 'MullerMedium';
  font-size: 22px;
  margin: 193px auto 4px 45px;
}

.service-item-exclusive::after,
.service-item-banquet-hall::after,
.service-item-sauna::after,
.service-item-parking::after{
  display: inline-block;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 30px;
  margin-left: 5px;
  line-height: 1;
  transform: translateY(3px);
}

.service-item-detail {
  display: inline-block;
  max-width: 406px;
  margin: 0 0 0 45px;
  font-size: 16px;
  line-height: 32px;
}


/* Преимущества */
#plus {
  margin: 40px 0 22px 42px;
}

.plus-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bathtub {
  background: url(../img/icon/bathtub.png) no-repeat 45px 43px transparent;
}


.hanger {
  background: url(../img/icon/hanger.png) no-repeat 45px 43px transparent;
}

.heating {
  background: url(../img/icon/heating.png) no-repeat 45px 43px transparent;
}

.hotel-key {
  background: url(../img/icon/hotel-key.png) no-repeat 45px 43px transparent;
}

.parking {
  background: url(../img/icon/parking.png) no-repeat 45px 43px transparent;
}

.reception {
  background: url(../img/icon/reception.png) no-repeat 45px 43px transparent;
}

.security-box {
  background: url(../img/icon/security-box.png) no-repeat 45px 43px transparent;
}

.swimming-pool {
  background: url(../img/icon/swimming-pool.png) no-repeat 45px 43px transparent;
}

.plus-item {
  width: calc((100% - 70px) / 4);
  min-height: 275px;
  margin-bottom: 22px;
  background-color: #fff;
  border-radius: 12px;
}

.plus-item-text {
  display: inline-block;
  max-width: 187px;
  padding: 72px 0px 0;
  margin: 42px 10px 40px 45px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 32px;
}


/* Размещение */
#placing {
  margin: 42px 0 20px 42px;
}

.placing-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.placing-item {
  display: inline-block;
  width: 373px;
  min-height: 441px;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 25px;
  position: relative;
}

.placing-img {
  border-radius: 12px 12px 0 0;
}

.placing-info-stars {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 30px;
  font-size: 16px;
}

.placing-price {
  font-family: "MullerBold";
  color: #333;
  font-size: 22px;
}

.placing-stars {
  display: flex;
  justify-content: space-between;
  width: 100px;
  float: right;
}

.placing-name {
  font-family: 'MullerMedium';
  font-size: 16px;
  color: #333;
  margin: 10px 0 14px;
}

.placing-location { 
  margin-bottom: 101px;
}

.placing-rooms {
  display: block;
  font-family: 'MullerBold';
  width: 100px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  margin: 20px 0 43px;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
}

.placing-other {
  background: url(../img/placement/41.jpg) no-repeat;
  background-size: cover;
}

.placing-other-rooms {
  display: inline-block;
  position: absolute;
  bottom: 0;
  font-size: 22px;
  margin: 0 0 50px 38px;
  color: #fff;
}

.placing-other-rooms::after {
  display: inline-block;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 28px;
  margin-left: 13px;
  line-height: 1;
  transform: translateY(3px);
}


