

* {
  box-sizing: border-box;
}


ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}



.body {
  background-color: #f1f1f1;
  visibility: -5;
  font-family: sans-serif;
  color: #323232;
}


.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.gold {
  color: #cc9933
}

.title {
  font-size: 40px;
}


/* Шапка */
.header-top{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px auto;
}

.header-tel{
  margin: auto auto auto 25px;
  color: #323232;
  font-size: 22px;
}

.header-private-office {
  margin: auto 0;
}


/* навигация */
.header-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 70px;
  border-radius: 15px;
  margin-bottom: 70px;
}

.header-nav {
  display: inline-flex;
  background-color: white;
  min-height: 70px;
  width: 100%;
  border-radius: 15px;
} 

.header-nav-list {
  max-width: 700px;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}

.header-nav-item{
  font-size: 17px;
  margin: auto;
}

.nav-link {
  color: #323232;
}

.scan {
  height: 48px;
  width: 355px;
  border: none;
  border-radius: 15px;
  background: url(../img/search.png) no-repeat center;
  background-color: #f1f1f1;
  background-position: 95%;
  padding-right: 40px;
  padding-left: 20px;
  margin: auto 20px auto auto;
}


/* Быстрая бронь и Спецпредложение */
.hot-deal {
  display: flex;
}

#reserv {
  margin-left: 40px;
}

.reserv {
  margin-right: 55px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.reserv input {
  height: 70px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: none;
  border-radius: 12px;
}

.reserv-button {
  height: 70px;
  width: 159px;
  font-size: 16px;
  border: none;
  background-color: #cc9933;
  color: #fff;
  border-radius: 12px;
  margin-right: 30px;
}

.reserv-info {
  display: flex;

}

.reserv-namber {
  display: block;
  margin: auto 0 auto 5px;
}


/* Спецпредложение */
.Special-offer {
  min-width: 595px;
}

#special-offer {
  margin-left: 45px;
}

.special-offer-img {
  display: inline-block;
  width: 595px;
  height: 533px;
  background: url(../img/22.jpg);
}

.special-offer-banner {
  line-height: 58px;
  width: min-content;
  margin: 260px auto auto 50px;
  font-size: 66px;
  color: white;
}

.special-offer-price{
  display: inline-block;
  margin: 30px auto auto 50px;
  font-size: 28px;
  color: #868381;
}

.special-offer-link {
  padding-right: 15px;
  margin-left: 40px;
  background: url(../img/bigest.png) no-repeat center right;
}


/* О нас */
#about-Us {
  margin: 70px auto 22px 40px;
}

.about-Us {
  margin-left: 40px;
  font-size: 16px;
  line-height: 32px;
}


/* Услуги */
#services {
  margin: 70px 0 22px 40px;
}

.service-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.service-item {
  width: 572px;
  min-height: 325px;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 40px;
}

.img-exclusive {
  background-image: url(../img/services/10.jpg);
  background-repeat: no-repeat;
}

.img-banquet-hall {
  background-image: url(../img/services/12.jpg);
  background-repeat: no-repeat;
}

.img-sauna {
  background-image: url(../img/services/15.jpg);
  background-repeat: no-repeat;
}

.img-parking {
  background-image: url(../img/services/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg);
  background-repeat: no-repeat;
}

.service-item-exclusive,
.service-item-banquet-hall,
.service-item-sauna,
.service-item-parking {
  display: inline-block;
  font-size: 22px;
  margin: 200px auto 19px 40px;
  margin-top: 200px;
  margin-left: 40px;
  padding-right: 22px;
  font-weight: normal;
  background: url(../img/bigest.png) no-repeat center right;
}

.service-item-detail {
  margin: 0 0 0 40px;
  font-size: 16px;
  line-height: 32px;
}


/* Преимущества */
#plus {
  margin: 70px 0 22px 40px;
}

.plus-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.plus-item {
  width: 275px;
  min-height: 275px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 12px;
}

.bathtub {
  background: url(../img/icon/bathtub.png) no-repeat;
}

.bathtub {
  background: url(../img/icon/bathtub.png) no-repeat;
}

.hanger {
  background: url(../img/icon/hanger.png) no-repeat;
}

.heating {
  background: url(../img/icon/heating.png) no-repeat;
}

.hotel-key {
  background: url(../img/icon/hotel-key.png) no-repeat;
}

.parking {
  background: url(../img/icon/parking.png) no-repeat;
}

.reception {
  background: url(../img/icon/reception.png) no-repeat;
}

.security-box {
  background: url(../img/icon/security-box.png) no-repeat;
}

.swimming-pool {
  background: url(../img/icon/swimming-pool.png) no-repeat;
}

.plus-item-text {
  padding: 72px 0px 0;
  margin: 40px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 32px;
}


/* Размещение */
#placing {
  margin: 70px 0 22px 40px;
}

.placing-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.placing-item {
  width: 373px;
  min-height: 441px;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 22px;
  position: relative;
}

.placing-info-stars {
  display: block;

  margin-left: 40px;
  margin-right: 40px;
  margin: 30px 40px auto;
  font-size: 16px;
}

.placing-price {
  font-size: 22px;
}

.placing-stars {
  float: right;
}

.placing-name {
  margin-top: 20px;
}

.placing-location {
  margin-bottom: 81px;
}

.placing-rooms {
  display: block;
  width: 100px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  margin: 20px 0;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
}

.placing-other {
  background: url(../img/placement/41.jpg) no-repeat;
  background-size: cover;

}

.placing-other-rooms {
  display: inline-block;
  position: absolute;
  bottom: 0;
  font-size: 22px;
  margin: 0 0 50px 40px;
  color: #fff;
  padding-right: 22px;
  background: url(../img/bigest1.png) no-repeat center right;
}


